
  .card{
    border: 2px solid black;
    margin-top:36px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;  }
  .form {
      width:365px;
    min-width: 100px;
    max-width: 500px;
    /* border: 2px solid black */
  }
  /* .mat-form-field-appearance-legacy{
    width: 200px !important;
    margin-left: 89px !important;
    margin-right: 89px !important;
  } */
  .heading{
    font-weight: bold; 
    margin-top: 9px;
  }
    .icon{
      cursor: pointer;
      color: tomato;
      font-size: initial;
  }
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;

  }
  .border{
    width: 110px;
    float: left;
    height: 2px;
    margin-top: auto;
    background: #1f1f16;
  }
  .mat-form-filed{
      text-align: center;
  }
  .profile{
text-align: center;
  }
  .image{
    width:300px;
  }
  .log{
margin-top: auto;
  }
  
  .button {
    width: 100%;
  }
  .submitButton{
      margin-top: 4px !important;
      margin-bottom: 12px !important;
    width: 125px !important;
  }